<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/cssfile/css/styleLogin.css" />
  </head>
  <body>
    <main>
      <form class="form_main" action="/user/login" method="post">
        <div class="subscribe">
          <p>log in</p>
          <input
            type="email"
            class="subscribe-input"
            id="name"
            name="email"
            placeholder="email"
          />
          <br />
          <input
            type="password"
            class="subscribe-input"
            id="password"
            name="password"
            placeholder="Password"
          />
          <div class="submit-btn"><button>SUBMIT</button></div>
        </div>
      </form>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
